/* --------------------------------------------------
GLOBAL STYLES
-------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  	margin: 0;
 	font-family: 'Quicksand', sans-serif;
  	font-weight: 400;
	font-size: 15px;
	max-width: 100%;
	width: 100%;
	background-color: #f0f5eb;
}

#page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.cam_titles {
	padding: 10px 10px 10px 10px;
	color: #2b9c86;
}

.text {
	padding: 25px;
	flex: 1 0 100%;
	text-align: center;
	font-size: 17px;
}

.textlink {
	text-decoration: none;
	color: #4b726a;
	font-weight: bold;
}

/* --------------------------------------------------
HEADERS
-------------------------------------------------- */

.top-container {
  	background-color: #ffffff;
	padding: 30px;
	max-width:100vw;
 	color: #ffffff;
  	text-align: center;
  	font-size: 20px;
  	background-image: url("../img/forest.jpg");
  	background-position: center;
}

.header {
	padding-top: 8px;
	padding-bottom: 8px;
	max-width:100vw;
	background: #a1c181;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #eee;
	letter-spacing: 6px;
	box-shadow: 0px 1px 4px #aaa;
	overflow: hidden;
}

/* --------------------------------------------------
NAVBAR
-------------------------------------------------- */

.navbar {
	display: flex;
	justify-content: space-evenly;
	padding: 0px;
	max-width:100vw;
	max-width: 100%;
	overflow: hidden;
	z-index: 5;
	padding: 15px;
}

.gru {
  color: #2b9c86;
}

.navbar i.camagru_title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 27px;
	font-style: normal;
	align-self: center;
}

.camagru_title,
.camagru_title:active {
	text-decoration: none;
	color: white;
}

.navbar i {
	padding-top: 0px;
	padding-bottom: 0px;
	align-self: center;
}

.navlink {
	color: white;
	align-self: center;
}

.fa-camera-retro,
.fa-user-circle,
.fa-sign-out-alt {
	font-size: 30px;
	align-self: center;
}

.fa-camera-retro:hover,
.fa-user-circle:hover,
.fa-sign-out-alt:hover,
.camagru_title:hover {
	color: #2b9c86;
}

/* --------------------------------------------------
STICKY HEADER
-------------------------------------------------- */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.sticky + .content {
  padding-top: 98px;
}

/* --------------------------------------------------
MESSAGE BAR
-------------------------------------------------- */

#success {
	position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: #97b678;
    text-align: center;
	line-height: 2.5;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	color: white;
	opacity: 0.9;
}

#failure {
	position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(224, 122, 122);
    text-align: center;
	line-height: 2.5;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	color: white;
	opacity: 0.9;
}

/* --------------------------------------------------
MEDIA QUERIES : LARGE SCREENS
-------------------------------------------------- */

@media screen and (min-width: 450px) {

	

	#canvas {
		margin: 10px 0 10px 0;
	}

	.textlink:hover {
		color: black;
	}

	.content {
		margin: auto;
	  	padding-top: 16px;
	  	padding-bottom: 0px;
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		min-height: 100%;
	}

	.navbar i.camagru_title::before {
		content: "cama";
	}

	.navbar i.camagru_title span::after {
		content: "green";
	}

	.heart_icon, .comments_icon {
	  font-size: 30px;
	}
}

/* --------------------------------------------------
MEDIA QUERIES : SMALL SCREENS
-------------------------------------------------- */

@media screen and (max-width: 450px) {

	#header_text {
		font-size: 10vw;
	}

	.content {
		display: flex;
		padding-top: 16px;
		padding-bottom: 0px;
		max-width: 100%;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;	
	}

	.footer {
		flex-shrink: 0;
	}

	.heart_icon, .comments_icon {
	  font-size: 7vw;
	}
}

/* --------------------------------------------------
PHOTO HISTORY
-------------------------------------------------- */

/* Smaller sizes */

@media screen and (max-width: 1150px) {
	#mini {
		border-radius: 15px;
		max-height: 200px;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		text-align: center;
	}

	#mini_box {
		text-align: center;
		max-width: 90vw;
	}
	.mini_img {
		max-height: 200px;
		height: 200px;
	}
}

/* Larger */

@media screen and (min-width: 1150px) {
	#mini {
		border-radius: 15px;
		max-height: 600px;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: scroll;
		text-align: center;
	}
	#mini_box {
		text-align:center;
	}
	.mini_img {
		max-width: 100%;
		width: 100%;
	}
}

/* --------------------------------------------------
PAGE // ADDPHOTOS.PHP
-------------------------------------------------- */

#div_choose_trees {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0 15px 0;
	margin: auto;
}

#div_use_webcam {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 800px;
}

/* Modal  */

#modal_result {
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

#div_final_result {
	margin: auto;
	width: 80%;
	background: white;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

/* Tree selector */

.i_trees {
	background: rgba(11, 27, 12, 0.1);
	opacity: 0.5;
	border: 3px solid white;
	border-radius: 20px;
}

.active, .i_trees:hover {
	background: rgba(255, 255, 255, 0.1);
	opacity: 1;
	border: 3px solid #97b678;
	border-radius: 20px;
}


/* Webcam */

.webcam-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#canvas, #canvas_copy, #live_div {
	width: 100%;
	max-width: 480px;
	height: 100%;
	z-index: 1;
}

#live_div {
	border-radius: 20px 20px;
	z-index: 5;
	max-width: 640px;
	max-height: 480px;
	width: 100vw;
	height: calc(100vw * 3 / 4);
	position: relative;
	border-radius: 25px;
}

#videoElement {
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 25px;
	background-color: white;
}

#overlay {
	opacity: 1;
	width: 100%;
	position: absolute;
	z-index: 2;
	height: 100%;
}

#canvas_copy, #canvas_tree {
	display: none;
}

.button_p {
	flex-basis: 100%;
	text-align: center;
	margin: 5px;
}

.webcam-button {
	padding: 8px;
  	font-size: 15px;
	color: white;
	font-family: 'Quicksand', sans-serif;
  	text-align: center;
  	background: #a1c181;
  	border: 0;
  	border-bottom: 2px solid #97b678;
}

/* --------------------------------------------------
PAGE // UPLOADPHOTO.PHP
-------------------------------------------------- */

.input-file {
	display: none;
}

#div_upload_files {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	align-self: flex-start;
	width: 100%;
}

#upload_page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-end;
}

/* --------------------------------------------------
PAGE // VIEWPHOTOS.PHP
-------------------------------------------------- */

/* Image snippets */

#image_post {
	border: 1px solid #d9e4cf;
	background: white;
	border-radius: 5px;
	max-width: 550px;
	margin: 0 0px 25px 0px;
}

#image_post .img_data {
	position: relative;
}

.pic {
	object-fit: contain;
	max-width:100%;
	max-height:100%;
}

#img_info {
	margin-left: 4px;
	padding: 3px;
}

/* Pagination */

.pagination {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination_item {
	width: 40px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
	border: 2px solid #648345;
	font-weight: bold;
	text-decoration: none;
	margin: 2px 5px 2px 5px;
	color: #648345;
	background-color: #a1c181;
}

.pagination_points {
	width: 40px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
	border: 2px solid #648345;
	font-weight: bold;
	text-decoration: none;
	margin: 2px 5px 2px 5px;
	color: #648345;
}

.pagination_item:hover, .current_page {
	color:white;
	background-color: #648345;
}

/* Heart & Comments */

.heart_icon {
	color: white;
	left: 3%;
	top: 87%;
	opacity: 0.6;
  	position: absolute;
}

.liked {
	color: red;
}

.comments_icon {
	color: white;
	left: 12%;
	top: 87%;
	opacity: 0.6;
	position: absolute;
	text-decoration: none;
}

.heart_icon:hover {
  color:red;
  opacity: 1;
}

.comments_icon:hover {
	color: #2b9c86;
	opacity: 1;
}

/* --------------------------------------------------
PAGE // COMMENTPHOTO.PHP
-------------------------------------------------- */

.img_comment {
	max-width:640px;
	width:100%;
}

#image_post_comment {
	border: 1px solid #d9e4cf;
	background: white;
	border-radius: 5px;
	max-width: 640px;
	margin: 0 0px 25px 0px;
}

.img_comment, .comment {
	width:100%;
}

.com_date {
	font-size: 12px;
	color: #4b726a;
	letter-spacing: 0.2px;
}

.textbox {
	outline: none;
	overflow: hidden;
	resize: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	padding: 5px;
	flex-grow: 100;
	border: 1px solid #9bb3ad;
	margin-top: 2px;
}

.comment_box {
	max-width: 400px;
	width: 100%;
	margin: 0px 10px 0px 10px;
}

.comment_form {
	display: flex;
	flex-direction: column;
	outline: none;
}

/* --------------------------------------------------
FOOTER
-------------------------------------------------- */

.footer {
  	color: #ffffff;
  	text-align: center;
	padding: 10px;
	margin-top: 10px;
	opacity: 0.5;
  	font-size: 12px;
  	background-image: url("../img/forest.jpg");
  	background-position: center;
	max-width: 100vw;
}

/* Containers of each block  */

/* --------------------------------------------------
LOGIN PAGE
-------------------------------------------------- */

.login_form {
	display: flex;
	flex-direction: column;
}

.login_input {
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	border: 2px solid #97b678;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

.login_submit {
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	border: 2px solid #97b678;
	font-size: 15px;
	font-weight: bold;
	background-color: #97b678;
	font-family: 'Quicksand', sans-serif;
}

.login_submit:hover {
	background-color: white;
	color: #97b678;
}

#login_page {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

/* --------------------------------------------------
REGISTER PAGE
-------------------------------------------------- */

#register_page {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

/* --------------------------------------------------
USER PAGE
-------------------------------------------------- */

#user_page {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.user_field {
	padding: 5px 5px 5px 15px;
}

.checkbox {
	margin: 15px;
	
}