body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Headers */

.top-container {
  background-color: #ffffff;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  background-image: url("../img/forest.jpg");
  background-position: center;
}

.header {
	padding-top: 8px;
	padding-bottom: 8px;
	background: #a1c181;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #eee;
	letter-spacing: 6px;
	box-shadow: 0px 1px 4px #aaa;
	overflow: hidden;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	max-width: 100%;
	overflow: hidden;
	z-index: 5;
}

.gru {
  color: #2b9c86;
}

.navbar i.camagru_title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 27px;
	font-style: normal;
}

.navbar i {
	padding-top: 0px;
	padding-bottom: 0px;
}

.fa-camera-retro, .fa-user-circle {
	font-size: 30px;
}

.fa-camera-retro:hover, .fa-user-circle:hover {
	color: #2b9c86;
}

/* Sticky Navbar */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.sticky + .content {
  padding-top: 98px;
}

/* Media Queries / Large Screens */

@media screen and (min-width: 400px) {
    #image_post {
        width: 400px;
    }

	#image_post .img_data {
		max-width: 400px;
		max-height: 400px;
		/* height: auto; */
	}

	#image_post .img_data img {
		max-width: 400px;
		height: auto;
	}

	.content {
	  padding-top: 16px;
	  padding-bottom: 0px;
	  max-width: 80%;
	  margin-left: auto;
	  margin-right: auto;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
	}

	.navbar i.camagru_title::before {
		content: "cama";
	}

	.navbar i.camagru_title span::after {
		content: "green";
	}

	.heart_icon, .comments_icon {
	  font-size: 60px;
	}
}

/* Media Queries / Smaller Screens */

@media screen and (max-width: 400px) {
	#image_post {
		width: 100%;
	}

	#image_post .img_data {
		position: relative;
		width: 100vw;
		height: 100vw;
	}

	#header_text {
		font-size: 10vw;
	}

	#image_post .img_data img {
		width: 100%;
		height: auto;
	}

	.content {
	  padding-top: 16px;
	  padding-bottom: 0px;
	  max-width: 100%;
	}

	.heart_icon, .comments_icon {
	  font-size: 45px;
	}
}

/* Images Posts / Independant from screen size */

#image_post {
	margin-bottom: 25px;
}

#image_post .img_data {
	position: relative;
	margin: 0px;
	padding: 0px;
}

#image_post .img_data img {
	height: auto;
	margin: 0px;
	padding: 0px;
}

#img_info {
	margin-left: 4px;
}

/* Heart + Comments Layer */

.heart_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: lightgreen;
  margin: 0px;
  padding: 0px;
}

.img_data:hover .heart_layer {
  opacity: 0.5;
}

.heart_icon, .comments_icon {
  color: white;
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.heart_icon {
  top: 85%;
  left: 15%;
}

.fa-heart:hover, .fa-comment-dots:hover {
  color: #2b9c86;
}

/* Footer */

.footer {
  color: #ffffff;
  text-align: center;
	padding: 10px;
	margin-top: 10px;
	opacity: 0.5;
  font-size: 12px;
  background-image: url("../img/forest.jpg");
  background-position: center;
	max-width: 100%;
}
